html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  color: var(--main-text-color);
  background-color: white;
  letter-spacing: var(--main-letter-spacing);
  font-size: 14px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1249px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1250px) {
  .container {
    width: 1250px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  margin: 0;
  padding: 0;
  display: block;
}

:root {
  --focus-pinc-color: #d41443;
  --accent-salmon-color: #ffa5ba;
  --text-black-color: black;
  --text-gray-color: #907e82;
  --focus-white-color: #ffffff;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: #ffb8ca;
}

.hero .container {
  position: relative;
  outline: 1px solid red;
  padding-top: 194px;
  padding-bottom: 158px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding-top: 102px;
    padding-bottom: 190px;
  }
}

.hero-content {
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .hero-content {
    padding-left: 15px;
  }
}

.hero-title {
  max-width: 218px;
  margin-bottom: 20px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--focus-white-color);
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
}

.hero-title_accent {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0;
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 768px) {
  .hero-title_accent {
    font-size: 34px;
    line-height: 0.91;
    letter-spacing: 0.04em;
  }
}

.hero-btn {
  display: inline-block;
  padding: 7px 14px;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}

.hero-btn_first {
  margin-right: 8px;
  color: var(--focus-white-color);
  background-color: var(--focus-pinc-color);
  transition: background-color var(--main-transition);
}
.hero-btn_first:hover, .hero-btn_first:focus {
  background-color: #c7133e;
}

.hero-btn_second {
  color: var(--focus-pinc-color);
  background-color: var(--focus-white-color);
  transition: background-color var(--main-transition);
}
.hero-btn_second:hover, .hero-btn_second:focus {
  background-color: #ecebeb;
}

@media screen and (max-width: 767px) {
  .hero-content-bottom {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-content-bottom {
    position: absolute;
    top: 287px;
    left: 184px;
    z-index: 3;
  }
}

.hero-text {
  font-family: "DM Sans";
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--focus-white-color);
  max-width: 114px;
}

.hero-info-btn {
  width: 18px;
  height: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--focus-white-color);
  border-radius: 50%;
  border: 0.5px solid var(--focus-white-color);
  transition: border var(--main-transition), background-color var(--main-transition);
}
.hero-info-btn:hover, .hero-info-btn:focus {
  background-color: #ecebeb;
}

.hero-icon {
  fill: var(--focus-pinc-color);
}

.hero-image {
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero-image {
    left: 322px;
  }
}

.hero-bg-ellipse {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--accent-salmon-color);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero-bg-ellipse {
    top: 43px;
    left: 248px;
  }
}

@media screen and (max-width: 767px) {
  .hero-image_milk {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-image_milk {
    position: absolute;
    bottom: 16px;
    left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .hero-image_tasty {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-image_tasty {
    position: absolute;
    bottom: 0px;
    right: 32px;
  }
}/*# sourceMappingURL=index.css.map */