:root {
  --focus-pinc-color: #d41443;
  --accent-salmon-color: #ffa5ba;
  --text-black-color: black;
  --text-gray-color: #907e82;
  --focus-white-color: #ffffff;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
