body {
  width: 100%;
}

.none {
  display: none;
}

.hidden {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin: 0 auto;
}

.is-open {
  opacity: 0;
}

.conteiner {
  box-sizing: content-box;
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .conteiner {
    width: 468px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1081px) {
  .conteiner {
    width: 1081px;
  }
}
