$accent: #e17992;
$accentText: #d41443;
$fon: #ffb8ca;
$wihte: #fff;

:root {
  // --main-text-color: #757575;
  // --title-text-color: #212121;
  --focus-pinc-color: #d41443;
  --accent-salmon-color: #FFA5BA;
  --text-black-color: black;
  --text-gray-color: #907E82;
  --focus-white-color: #ffffff;
  // --footer-bcg-color: #2F303A;
  // --footer-logo-color: white;
  // --footer-contact-color: rgba(255, 255, 255, 0.6);
  // --nav-logo-web-color: #2196F3;
  // --cards-bcg-color: white;
  // --hero-button-fh-color: #188CE8;
  // --main-letter-spacing: 0.03em;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
