<!--advantes-->
<section class="section-advantes">
        <div class="container advantes-item">
          <h2 class="advantes-visually-hidden">advantes</h2>
          <ul class="section-advantes-list">
            <li class="advantes_item">
              <div class="advantes-slide">
                <svg class="advantes-icon" width="33" height="50">
                  <use href="./images/advantages/icon1.png"></use>
                </svg>
              </div>
              <h3 class="section-advantes-title">721</h3>
              <p class="section-advantes-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo doloremque molestias quidem ab corporis officiis iure minima provident.
              </p>
            </li>
            <li class="advantes_item">
              <div class="advantes-slide">
                <svg class="advantes-icon" width="50" height="50">
                  <use href="./images/advantages/icon2.png"></use>
                </svg>
              </div>
              <h3 class="section-advantes-title">16kg</h3>
              <p class="section-advantes-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo doloremque molestias quidem ab corporis officiis iure minima provident.
              </p>
            </li>
            <li class="advantes_item">
              <div class="advantes-slide">
                <svg class="advantes-icon" width="44" height="50">
                  <use href="./images/advantages/icon3.png"></use>
                </svg>
              </div>
              <h3 class="section-advantes-title">84</h3>
              <p class="section-benefits-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nesciunt id rerum fugiat iste quia. Omnis eaque ipsam laboriosam 
              </p>
            </li>
            
          </ul>
        </div>
      </section>
