<!--advantes-->

<!-- advantes New version-->
<section class="section-advantes">
  <div class="container">
    <h2 class="visually-hidden">advantes</h2>
    <ul class="section-advantes-list">
      <li class="advantes-item">
        <img
          class="advantages-img"
          src="./images/advantages/icon1.png"
          alt="foto1"
        />
        <h3 class="section-advantes-title">721</h3>
        <p class="section-advantes-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse non
          repellat perferendis molestias pariatur iste adipisci natus. Ad natus
          est obcaecati, quibusdam saepe totam ut exercitationem quia facere,
          repellat maxime.
        </p>
      </li>
      <li class="advantes-item">
        <img
          class="advantages-img"
          src="./images/advantages/icon2.png"
          alt="foto2"
        />
        <h3 class="section-advantes-title">16kg</h3>
        <p class="section-advantes-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse non
          repellat perferendis molestias pariatur iste adipisci natus. Ad natus
          est obcaecati, quibusdam saepe totam ut exercitationem quia facere,
          repellat maxime.
        </p>
      </li>
      <li class="advantes-item">
        <img
          class="advantages-img"
          src="./images/advantages/icon3.png"
          alt="foto3"
        />
        <h3 class="section-advantes-title">84</h3>
        <p class="section-advantes-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse non
          repellat perferendis molestias pariatur iste adipisci natus. Ad natus
          est obcaecati, quibusdam saepe totam ut exercitationem quia facere,
          repellat maxime.
        </p>
      </li>
    </ul>
  </div>
</section>

<!--
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//code.jsdeliv.net/cdn.jsdeliv.net/npm/slick-carousel@1.8.1/slick/slick.min.js" ></script>
-->
