<section class="gallery-main " id="picture">
    <div class="container gallery">
            <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__content">
            <img class="gallery__img" src="./images/gallery/one.jpg" alt="">
            </div>
        <div class="gallery__content">
            <img class="gallery__img" src="./images/gallery/two.jpg" alt="" >
            <img class="gallery__img gallery__img-top" src="./images/gallery/seven.jpg" alt="" >
            </div>
        <div class="gallery__content gallery__content-three">
            <img class="gallery__img gallery__img-big" src="./images/gallery/three.jpg" alt="">
            <img class="gallery__img gallery__img-top" src="./images/gallery/eight.jpg" alt="" >
            </div>
        <div class="gallery__content gallery__content-four">
            <img class="gallery__img" src="./images/gallery/foure.jpg" alt="" >
            <img class="gallery__img gallery__img-top" src="./images/gallery/nine.jpg" alt="" >
            </div>
        <div class="gallery__content gallery__content-five">
            <img class="gallery__img" src="./images/gallery/five.jpg" alt="">
            <img class="gallery__img gallery__img-top" src="./images/gallery/ten.jpg" alt="" >
            </div>
        <div class="gallery__content gallery__content-six">
            <img class="gallery__img" src="./images/gallery/six.jpg" alt="" >
            </div>
    </div>

</section>