<div class="header-backdrop js-header-modal js-header-modal-mobile is-hidden">
  <div class="header-modal">
    <button
      type="button"
      class="modal-header-close-btn js-header-modal-close js-header-modal-close-mobile"
    ></button>

    <p class="modal-title">order form</p>
    <form class="form">
      <div class="form-field">
        <label for="username" class="form-label">Name</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-input"
          placeholder="Enter your name"
        />
      </div>
      <div class="form-field">
        <label for="usertel" class="form-label">Phone</label>

        <input
          type="tel"
          name="usertel"
          id="usertel"
          class="form-input"
          placeholder="Enter your phone number"
        />
      </div>
      <div class="form-field">
        <label for="usermail" class="form-label">Email</label>

        <input
          type="email"
          name="usermail"
          id="usermail"
          class="form-input"
          placeholder="Enter your Email"
        />
      </div>

      <label for="comment" class="form-label">Comments</label>
      <textarea
        class="form-comment"
        name="comment"
        id="comment"
        placeholder="Enter your comments"
      ></textarea>

      <div class="checkbox">
        <input
          type="checkbox"
          name="policy"
          id="policy"
          value="policy"
          class="checkbox-input visually-hidden"
        />
        <label for="policy" class="checkbox-label">
          <span class="checkbox-box">
            <svg class="checkbox-icon" width="11" height="9">
              <use href="./images/sprite.svg#check"></use></svg
          ></span>
          <span class="checkbox-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing
          </span>
        </label>
      </div>

      <button type="submit" class="form-btn">Send</button>
    </form>
  </div>
</div>
