<header class="header">
    <div class="container header-container">
        <nav class="site-nav">
            <a href="" class="logo">
                <img src="./images/logo/logo1x.png" alt="logo" width="199" height="50">
            </a>
            <ul class="header-nav">
                <li class="header-nav__item"><a href="" class="header-nav__link">Home</a></li>
                <li class="header-nav__item"><a href="" class="header-nav__link">About us</a></li>
                <li class="header-nav__item"><a href="" class="header-nav__link">How it’s made?</a></li>
                <li class="header-nav__item"><a href="" class="header-nav__link">Our products</a></li>
                <li class="header-nav__item"><a href="" class="header-nav__link">Contact</a></li>
            </ul>
        </nav>
        <svg class="header-menu-btn" width="20" height="12">
            <use href="./images/sprite.svg#burger"></use>
        </svg>
        <button type="button" class="header-button js-header-modal-open">
            Buy now
            <svg class="header-button__icon" width="8" height="10">
                <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</header>