<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title_accent">passion</span>
      </h1>
      <a href="" class="hero-btn hero-btn_first">Products</a>
      <a href="" class="hero-btn hero-btn_second">How it’s made?</a>
    </div>

    <picture>
      <!-- <source
        srcset="
          ./images/hero/web/ice-cream-desctop-fon-171-min.webp 1x,
          ./images/hero/web/ice-cream-desctop-fon-342-min.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/team/team1-tablet.jpg    1x,
          ./images/team/team1-tablet@2x.jpg 2x
        "
        media="(min-width:768px)"
      /> -->
      <source
        srcset="
          ./images/hero/web/ice-cream-mobail-fon-171-min.webp 1x,
          ./images/hero/web/ice-cream-mobail-fon-342-min.webp 2x
        "
        type="image/webp"
        media="(min-width:320px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-mobail-fon-171-min.png 1x,
          ./images/hero/ice-cream-mobail-fon-342-min.png 2x
        "
        type="image/jpeg"
        media="(min-width:320px)"
      />
      <img
        src="./images/hero/ice-cream-mobail-fon-171-min.png"
        alt="ice cream"
        class="hero-image"
      />
    </picture>
    <div class="hero-bg-ellipse"></div>
  </div>
</section>
