<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title_accent">passion</span>
      </h1>
      <div class="hero-buttons">
        <a href="#cream-brulee" class="hero-btn hero-btn_first">Products</a>
        <a href="#how-it-made" class="hero-btn hero-btn_second"
          >How it&#39;s made?</a
        >
      </div>

      <div class="hero-content-bottom">
        <p class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="hero-info-btn">
          <svg class="hero-icon" width="7" height="8">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <ul class="hero-list">
      <li class="hero-item">
        <p class="hero-item-number">16</p>
        <p class="hero-item-text">cafes</p>
      </li>
      <li class="hero-item">
        <p class="hero-item-number">23</p>
        <p class="hero-item-text">food trucks</p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./images/hero/web/icecream-desktop-236.webp 1x,
          ./images/hero/web/icecream-desktop-472.webp 2x
        "
        type="image/webp"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/icecream-desktop-236.png 1x,
          ./images/hero/icecream-desktop-472.png 2x
        "
        type="image/png"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/web/icecream-tablet-143.webp 1x,
          ./images/hero/web/icecream-tablet-286.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/icecream-tablet-143.png 1x,
          ./images/hero/icecream-tablet-286.png 2x
        "
        type="image/png"
        media="(min-width:768px)"
      />

      <source
        srcset="
          ./images/hero/web/icecream-mobile-171.webp 1x,
          ./images/hero/web/icecream-mobile-342.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/hero/icecream-mobile-171.png 1x,
          ./images/hero/icecream-mobile-342.png 2x
        "
        type="image/png"
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/icecream-mobile-171.png"
        alt="ice cream"
        class="hero-image"
      />
    </picture>

    <div class="hero-bg-ellipse"></div>

    <picture>
      <source
        srcset="
          ./images/hero/web/milk-desktop-213.webp 1x,
          ./images/hero/web/milk-desktop-426.webp 2x
        "
        type="image/webp"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/milk-desktop-213.png 1x,
          ./images/hero/milk-desktop-426.png 2x
        "
        type="image/png"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/web/milk-tablet-152.webp 1x,
          ./images/hero/web/milk-tablet-304.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/milk-tablet-152.png 1x,
          ./images/hero/milk-tablet-304.png 2x
        "
        type="image/png"
        media="(min-width:768px)"
      />

      <img
        src="./images/hero/milk-tablet-152.png"
        alt="milk"
        class="hero-image_milk"
      />
    </picture>

    <picture>
      <source
        srcset="
          ./images/hero/web/tasty-desktop-304.webp 1x,
          ./images/hero/web/tasty-desktop-608.webp 2x
        "
        type="image/webp"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tasty-desktop-304.png 1x,
          ./images/hero/tasty-desktop-608.png 2x
        "
        type="image/png"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/web/tasty-tablet-190.webp 1x,
          ./images/hero/web/tasty-tablet-380.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/tasty-tablet-190.png 1x,
          ./images/hero/tasty-tablet-380.png 2x
        "
        type="image/pngf"
        media="(min-width:768px)"
      />

      <img
        src="./images/hero/tasty-tablet-190.png"
        alt="A girl with ice cream"
        class="hero-image_tasty"
      />
    </picture>
  </div>
</section>
