<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title_accent">passion</span>
      </h1>
      <a href="" class="hero-btn hero-btn_first">Products</a>
      <a href="" class="hero-btn hero-btn_second">How it’s made?</a>
    </div>

    <div class="hero-content-bottom">
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero-info-btn">
        <svg class="hero-icon" width="7" height="8">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
    <picture>
      <!-- <source
        srcset="
          ./images/hero/web/ice-cream-desctop-fon-171-min.webp 1x,
          ./images/hero/web/ice-cream-desctop-fon-342-min.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/team/team1-tablet.jpg    1x,
          ./images/team/team1-tablet@2x.jpg 2x
        "
        media="(min-width:768px)"
      /> -->
      <source
        srcset="
          ./images/hero/web/ice-cream-tablet-fon-143-min.webp 1x,
          ./images/hero/web/ice-cream-tablet-fon-286-min.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-tablet-fon-143-min.png 1x,
          ./images/hero/ice-cream-tablet-fon-286-min.png 2x
        "
        type="image/jpeg"
        media="(min-width:768px)"
      />

      <source
        srcset="
          ./images/hero/web/ice-cream-mobail-fon-171-min.webp 1x,
          ./images/hero/web/ice-cream-mobail-fon-342-min.webp 2x
        "
        type="image/webp"
        media="(min-width:320px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-mobail-fon-171-min.png 1x,
          ./images/hero/ice-cream-mobail-fon-342-min.png 2x
        "
        type="image/jpeg"
        media="(min-width:320px)"
      />
      <img
        src="./images/hero/ice-cream-mobail-fon-171-min.png"
        alt="ice cream"
        class="hero-image"
      />
    </picture>

    <div class="hero-bg-ellipse"></div>

    <picture>
      <!-- <source
        srcset="
          ./images/hero/web/ice-cream-desctop-fon-171-min.webp 1x,
          ./images/hero/web/ice-cream-desctop-fon-342-min.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      
      /> -->
      <source
        srcset="
          ./images/hero/web/millk-tablet-124-min.webp 1x,
          ./images/hero/web/millk-tablet-248-min.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/millk-tablet-124-min.png 1x,
          ./images/hero/millk-tablet-124-min.png 2x
        "
        type="image/jpeg"
        media="(min-width:768px)"
      />

      <img
        src="./images/hero/millk-tablet-124-min.png"
        alt="milk"
        class="hero-image_milk"
      />
    </picture>

    <picture>
      <!-- <source
        srcset="
          ./images/hero/web/ice-cream-desctop-fon-171-min.webp 1x,
          ./images/hero/web/ice-cream-desctop-fon-342-min.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      
      /> -->
      <source
        srcset="
          ./images/hero/web/tastea-tablet-fon-168-min.webp 1x,
          ./images/hero/web/tastea-tablet-fon-336-min.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/tastea-tablet-fon-168-min.png 1x,
          ./images/hero/tastea-tablet-fon-336-min.png 2x
        "
        type="image/jpeg"
        media="(min-width:768px)"
      />

      <img
        src="./images/hero/millk-tablet-124-min.png"
        alt="milk"
        class="hero-image_tasty"
      />
    </picture>
  </div>
</section>
