<section class="about" id="how-it-made">
    <div class="container">
        <label class="about-title-label" for="about-title">tradition and love</label>
        <h2 class="about-title">how it's made?</h2>
        <div class="about-wrap">
        <img 
            srcset="./images/how-its-made/cow-desctop-516-min.png 1x, ././images/how-its-made/cow-desctop-1032-min.png 2x"
            src="./images/how-its-made/cow-desctop-516-min.png" 
            alt="cow with milk" 
            class="about-img"
            width="370" height="294">
            <div class="about-wrap__content">
        <p class="about-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="about-text__secondary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="about-text__secondary about-text__end">Aliquam erat volutpat. Aenean accumsan.</p>

        <div class="btn-wrap">
            <button type="button" class="about-btn">Read more
                <svg class="icon-arrow" width="5" height="8">
                    <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
            </button>
           
        </div>
        </div>
        </div>
    </div>
</section>