<section class="about" id="how-it-made">
    <div class="container">
        <p class="about-label">tradition and love</p>
        <h2 class="about-title">how it's made?</h2>
        <div class="about-wrap">
        <img 
            srcset="./images/how-its-made/cow-desctop-516-min.png 1x, ././images/how-its-made/cow-desctop-1032-min.png 2x"
            src="./images/how-its-made/cow-desctop-516-min.png" 
            alt="cow with milk" 
            class="about-img">
            <div class="about-wrap__content">
        <p class="about-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="about-text__secondary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="about-text__secondary about-text__end">Aliquam erat volutpat. Aenean accumsan.</p>

            <button type="button" class="about-btn js-cow-modal-open">Read more
                <svg class="icon-arrow" width="5" height="8">
                    <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
            </button>
            </div>
        </div>
    </div>
</section>

<div class="backdrop js-cow-modal is-hidden">
    <div class="about-modal">
        <p class="about-modal__title">taste of childhood</p>
        <p class="about-modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque recusandae eos vero iste veniam est laborum officiis autem ex delectus, molestias quisquam sunt aut. Dolorem eius maiores quidem consectetur facilis!</p>
        <ul class="modal-list">
            <li class="modal-list__item">
                <p class="modal-list__title">we add:</p>    
            </li>
            <li class="modal-list__item">
                <p class="modal-list__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
            <li class="modal-list__item">
                <p class="modal-list__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
            <li class="modal-list__item">
                <p class="modal-list__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
        </ul>
        <button type="button" class="about-modal__btn js-cow-modal-close">
            <svg class="about-modal__icon" width="15" height="15">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>
