<section class="products">
    <div class="products-wrap container">
        <label class="products-title-label" for="products-title">100% natural</label>
        <h2 class="products__title" id="products-title">products</h2>

        <ul class="products__list list">
            <li class="products__item">
                <h3 class="products-item-title">ice cream</h3>
                <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
            </li>
            <li class="products__item">
                <h3 class="products-item-title">ice coffee</h3>
                <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
            </li>
            <li class="products__item">
                <h3 class="products-item-title">milkshakes</h3>
                <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et</p>
            </li>
        </ul>
    </div>
