<section class="products" id="cream-brulee">
  <div class="products-container container">
    <p class="products-title-above">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item-ice">
        <div class="card">
          <div class="front">
            <div class="products-item-box card__bg--ice">
              <h3 class="products-item-title">ice cream</h3>
              <p class="products-item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
              <button class="products-info-btn">
                <svg class="products-icon" width="11" height="10">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="back">
            <div class="products-item-box card__bg--ice">
              <p class="products-item-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita nulla ducimus mollitia ipsum officia quidem earum unde,
                fuga rem id.
              </p>
              <button class="products-info-btn products-info-btn--rotated">
                <svg class="products-icon" width="11" height="10">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>

      <li class="products__item products__item-coffee">
        <div class="card">
          <div class="front">
            <div class="products-item-box card__bg--coffee">
              <h3 class="products-item-title">ice coffee</h3>
              <p class="products-item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
              <button class="products-info-btn">
                <svg class="products-icon" width="11" height="10">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="back">
            <div class="products-item-box card__bg--coffee">
              <p class="products-item-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero beatae nemo alias vitae repudiandae odit minima quidem repellat impedit aperiam.  Lorem ipsum dolor sit amet consectetur, adipisicing elit. adipfisicing
              </p>
              <button class="products-info-btn products-info-btn--rotated">
                <svg class="products-icon" width="11" height="10">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>

      <li class="flip products__item products__item-milkshake">
        <div class="card">
          <div class="front">
            <div class="products-item-box card__bg--milkshake">
              <h3 class="products-item-title">milkshakes</h3>
              <p class="products-item-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero beatae nemo alias vitae repudiandae odit minima quidem repellat impedit aperiam.  Lorem ipsum dolor sit amet consectetur, adipisicing elit. adipfisicing
              </p>
              <button class="products-info-btn js-touch">
                <svg class="products-icon" width="11" height="10">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="back">
            <div class="products-item-box card__bg--milkshake">
              <p class="products-item-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero beatae nemo alias vitae repudiandae odit minima quidem repellat impedit aperiam.  Lorem ipsum dolor sit amet consectetur, adipisicing elit. adipfisicing
              </p>
              <button class="products-info-btn products-info-btn--rotated">
                <svg class="products-icon" width="11" height="10">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
