<section class="container slider">
  <div class="customer">
    <div class="slider3">
      <div>
        <picture class="customer__photo">
          <source
            srcset="
              ./images/slyder/people-two-85-min.jpg  1x,
              ./images/slyder/people-two-170-min.jpg 2x
            "
          />
          <img
            src="./images/slyder/people-two-170-min.jpg"
            alt="people photo"
          />
        </picture>
        <div class="comment__container">
          <p class="customer__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <picture class="decoration__points">
          <source
            srcset="
              ./images/slyder/Group-8@1x.png 1x,
              ./images/slyder/Group-8@2x.png 2x
            "
          />
          <img src="./images/slyder/Group-8@1x.png" alt="people photo" />
        </picture>
        <h3 class="customer__name">Sophia, Virginia</h3>
      </div>

      <div>
        <picture class="customer__photo">
          <source
            srcset="
              ./images/slyder/people-one-85-min.jpg  1x,
              ./images/slyder/people-one-170-min.jpg 2x
            "
          />
          <img
            src="./images/slyder/people-one-170-min.jpg"
            alt="people photo"
          />
        </picture>
        <div class="comment__container">
          <p class="customer__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <picture class="decoration__points">
          <source
            srcset="
              ./images/slyder/Group-8@1x.png 1x,
              ./images/slyder/Group-8@2x.png 2x
            "
          />
          <img src="./images/slyder/Group-8@1x.png" alt="people photo" />
        </picture>
        <h3 class="customer__name">Emily, Los Angeles</h3>
      </div>

      <div>
        <picture class="customer__photo">
          <source
            srcset="
              ./images/slyder/people-three-85-min.jpg  1x,
              ./images/slyder/people-three-170-min.jpg 2x
            "
          />
          <img
            src="./images/slyder/people-three-170-min.jpg"
            alt="people photo"
          />
        </picture>
        <div class="comment__container">
          <p class="customer__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <picture class="decoration__points">
          <source
            srcset="
              ./images/slyder/Group-8@1x.png 1x,
              ./images/slyder/Group-8@2x.png 2x
            "
          />
          <img src="./images/slyder/Group-8@1x.png" alt="people photo" />
        </picture>
        <h3 class="customer__name">Katherine, Iowa</h3>
      </div>
    </div>
  </div>
</section>
