<section class="contacts section">
  <div class="contacts__container container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <div class="contacts__body">
      <ul class="contacts__list list-contacts">
        <li class="list-contacts__item">
          <span class="list-contacts__category list-contacts__category--beige">
            CAFE
          </span>
          <div class="list-contacts__location">
            <h3 class="list-contacts__title">Chicago</h3>
            <p class="list-contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="list-contacts__shedule shedule">
            <li class="shedule__item">
              <span class="shedule__days">Monday - Friday</span>
              <span class="shedule__time">06:00 AM - 10:00 PM</span>
            </li>
            <li class="shedule__item">
              <span class="shedule__days">Saturday - Sunday</span>
              <span class="shedule__time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul class="list-contacts__links links-contacts">
            <li class="links-contact__item">
              <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a>
            </li>
            <li class="links-contact__item">
              <a href="mailto:noreply@envato.com" class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>

        <li class="list-contacts__item">
          <span class="list-contacts__category list-contacts__category--green"
            >FOOD TRUCK</span
          >
          <div class="list-contacts__location">
            <h3 class="list-contacts__title">Los Angeles</h3>
            <p class="list-contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="list-contacts__shedule shedule">
            <li class="shedule__item">
              <span class="shedule__days">Monday - Friday</span>
              <span class="shedule__time">06:00 AM - 10:00 PM</span>
            </li>
            <li class="shedule__item">
              <span class="shedule__days">Saturday - Sunday</span>
              <span class="shedule__time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul class="list-contacts__links links-contacts">
            <li class="links-contact__item">
              <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a>
            </li>
            <li class="links-contact__item">
              <a href="mailto:noreply@envato.com" class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>

        <li class="list-contacts__item">
          <span class="list-contacts__category list-contacts__category--beige"
            >CAFE</span
          >

          <div class="list-contacts__location">
            <h3 class="list-contacts__title">New York</h3>
            <p class="list-contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="list-contacts__shedule shedule">
            <li class="shedule__item">
              <span class="shedule__days">Monday - Friday</span>
              <span class="shedule__time">06:00 AM - 10:00 PM</span>
            </li>
            <li class="shedule__item">
              <span class="shedule__days">Saturday - Sunday</span>
              <span class="shedule__time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul class="list-contacts__links links-contacts">
            <li class="links-contact__item">
              <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a>
            </li>
            <li class="links-contact__item">
              <a href="mailto:noreply@envato.com" class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="contacts__buttons">
      <button
        type="button"
        class="contacts__button button button--red"
        data-open-modal-locations
      >
        Our Locations
        <svg class="button__icon">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <button
        type="button"
        class="contacts__button button button--white"
        data-open-modal-franchise
      >
        Franchise
        <svg class="button__icon">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<div
  class="backdrop backdrop-location backdrop-location--is-hidden"
  data-modal-locations
>
  <div class="modal-location">
    <button
      type="button"
      class="modal-location__close-button"
      data-modal-close-locations
    ></button>
    <div class="modal-location__body">
      <span class="modal-location__title">Locations</span>
      <address class="modal-location__address address-location">
        <ul class="address-location__list">
          <li class="address-location__item">
            <p>UCLA Department or Residence Hal</p>
          </li>
          <li class="address-location__item"><p>5555 Campus Hall</p></li>
          <li class="address-location__item"><p>Los Angeles, CA 90024</p></li>
        </ul>
      </address>
    </div>
    <!-- <div class="modal-location__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230677.93839995828!2d-118.31727517778424!3d34.06446797625815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1654858180458!5m2!1sru!2sua"
        width="50%"
        height="400px"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div> -->
    <div id="map" class="modal-location__map"></div>

    <script>
      function myMap() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(51.5, -0.2),
          zoom: 10,
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
      }
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=myMap"
      async
      defer
    ></script>
  </div>
</div>

<!-- <div class="backdrop backdrop--is-hidden" data-modal-franchise>
  <div class="modal">
    <button
      type="button"
      class="modal__close-button"
      data-close-modal-franchise
    >
      Закрыть
    </button>
    <strong class="modal__title">Our franchise</strong>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aut
      suscipit enim perspiciatis officiis tempora accusamus officia ipsum unde
      maiores!
    </p>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aut
      suscipit enim perspiciatis officiis tempora accusamus officia ipsum unde
      maiores!
    </p>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aut
      suscipit enim perspiciatis officiis tempora accusamus officia ipsum unde
      maiores!
    </p>
  </div>
</div> -->
