:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --focus-color: #2196F3;
    --heigh-logo-color: black;
    --hero-background-color: #2F303A;
    --hero-text-color: #FFFFFF;
    --footer-bcg-color: #2F303A;
    --footer-logo-color: white;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --nav-logo-web-color: #2196F3;
    --cards-bcg-color: white;
    --hero-button-fh-color: #188CE8;
    --main-letter-spacing: 0.03em;
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}