// new version

.section-advantes {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  background-color: #fff5f6;
}
.advantes-item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 90px;
  }
}

/*.visually-hidden {
  position: absolute;
  white-space: nowrap;
 width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}*/
.section-advantes-list {
  display: flex;
  align-content: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    margin-right: -16px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: -32px;
  }
}

.section-advantes-title {
  /*font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 10px;*/

  z-index: 1;
  font-family: 'Titan One';
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--focus-pinc-color);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.14;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
  }
}

.section-advantes-text {
  /*font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #000;
  padding-bottom: 84px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 174%;*/
  font-family: 'DM Sans';
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--focus-white-color);
  font-weight: 700;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.52;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    width: 241px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

// .advantages-img1 {
//   display: block;
//   margin: 0;
//   padding-bottom: 36px;
//   img {
//     width: 100%;
//   }
// }

.advantages-img1 {
  display: block;
  background: #f0d1a5;
  position: relative;
}

.advantages-img1::before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: -150px;
    width: 100%;
    height: 100%;
    background-image: url(../images/advantages/icon1.png);
  }
  @media screen and (min-width: 768px) {
    top: -150px;
    width: 100%;
    height: 100%;
    background-image: url(../images/advantages/icon1.png);
  }

  @media screen and (min-width: 1280px) {
    top: -250px;
    width: 100%;
    height: 100%;
    background-image: url(../images/advantages/icon1.png);
  }
}
