.footer{
    background-color: #FFF5F6;
    &__title{
        color: var(--accent-salmon-color);
        text-transform: uppercase;
        font-family: "Titan One";
        font-size: 18px;
        font-weight: 400;
        line-height: 1.17;
        width: 234px;
        letter-spacing: 0.04em;
        @media screen and (max-width: 320px){
        width: 100%;
        
            
        }
        @media screen and (min-width: 768px) and (max-width: 1279px){
            width: 340px;
            font-size: 26px;
            line-height: 1.15;
            
             
        }
        @media screen and (min-width: 1280px){
            width: 474px;
            font-size: 30px;
            line-height: 1.14;
        }
    }
    &__span{
        color: var(--focus-pinc-color);
        margin-bottom: 40px;
        margin-top: 16px;
        font-size: 34px;
        line-height: 1.15;
        display: block;
        @media screen and (min-width: 768px) and (max-width: 1279px){
               
            font-size: 48px;
            letter-spacing: 0.06em;
          
        }
        @media screen and (min-width: 1280px){
            font-size: 58px;
            line-height: 1.14;
        }
    }
    &__content{
        @media screen and (min-width: 768px){
            display: flex;
            justify-content: space-between;
            
        }
    }
    &__list{
        margin-bottom: 40px;
        display: flex;
        justify-content: right;
    }
    &__item:not(:last-child){
        margin-right: 30px;
        @media screen and (min-width: 1280px){
            margin-right: 24px;
        }
    }
    &__link{
        width: 32px;
        height: 32px;
        background-color: var(--accent-salmon-color);
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 768px){
            width: 34px;
            height: 34px;
        }
        &:hover,
        &:focus{
            background-color: var(--focus-pinc-color);
            animation: animate125 1000ms infinite 10ms;
        }
    }
    &__icon-first{
        width: 19px; 
        height: 19px;
        @media screen and (min-width: 768px){
            width: 20px;
            height: 20px;
        }
    }
    &__icon-second{
        width: 19px; 
        height: 15px;
        @media screen and (min-width: 768px){
            width: 20px;
            height: 16px;
        }
    }
    &__icon-third{
        width: 9px; 
        height: 19px;
        @media screen and (min-width: 768px){
            height: 20px;
        }
    }
    &__text{
        font-weight: 700;
        font-size: 12px;
        line-height: 1.86;
    
        text-align: right;
        margin-bottom: 40px;
        @media screen and (min-width: 768px){
            font-size: 14px;
            margin-bottom: 0;
        }
        @media screen and (min-width: 1280px){
            
            font-size: 16px;
            letter-spacing: 0.02em;

        }
    }
    &__tel{
        display: inline-block;
        
        color: var(--focus-pinc-color);
        text-decoration: none;

        &:hover,
        &:focus{
            text-decoration: underline;
           
        }
    }
    &__copyright{
      
        padding-top: 16px;
        padding-bottom: 20px;
        border-top: 1px solid #E1E1E1;
        @media screen and (min-width: 768px){
            padding-top: 8px;
            padding-bottom: 8px;
        }
        &-text{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.52;
            text-align: center;
            margin: 0 auto;
            
            color: var(--text-gray-color);
            @media screen and (max-width:767px){
               max-width: 140px;
            }
            @media screen and (min-width: 768px){
                line-height: 1.86;
                letter-spacing: 0.02em;
                
            }

        }

    }
      
}
@keyframes animate125 {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1);
    }
  }
  