.gallery{
    display: flex;
    justify-content: center;
    @media screen and (max-width:319px){
        flex-direction: column;
        align-items: center;
    }
    &-main{
    background-image: linear-gradient(to top, var(--focus-white-color) 55%, #fff5f6 45%);
    }
   &__content{
       display: flex;

       @media screen and (min-width:320px) {
        flex-direction: column;
        justify-content: center;
       }
      
       &-three{
           @media screen  and (max-width:319px){
               margin-left: 35px;
           }
       }
       
       &-four{
        @media screen  and (max-width:319px){
            margin-right: 30px;
        }
           @media screen and (min-width:320px){
            margin-top: 15px;
           }
        
        @media screen and (min-width:768px){
            margin-top: 25px;
         }
        @media screen and (min-width:1280px){
           margin-top: 55px;
        }
       }
       &-five{

        @media screen  and (max-width:319px){
            margin-left: 30px;
        }
        @media screen and (min-width:320px){
                
           margin-bottom: 15px;
           }
           @media screen and (min-width:768px){
            margin-bottom: 25px;
         }
        @media screen and (min-width:1280px){

           margin-bottom: 35px;
        }
       }
       &-six{
        @media screen  and (max-width:319px){
            margin-left: 10px;
        }
        @media screen and (min-width:320px){
           margin-top: 5px;
       }
    }
       
   }
   &__content:not(:last-child){
    @media screen and (min-width:320px){
       margin-right: 3px;
    }
       @media screen and (min-width:1280px) {
           margin-right: 5px;
       }
   }

    &__img{
        border-radius: 4px;
        @media screen and (max-width:319px){
            width: 55px;
            height: 55px;
        }
        width: 35px;
        height: 35px;
        
        @media screen and (max-width:319px){
            margin: 3px;
        }
        transition: overflow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    transform 1250ms cubic-bezier(0.4, 0, 0.2, 1),
                    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        

        &:hover,
        &:focus{
            overflow: hidden;
            border-radius: 45px;
            transform: scale(1.5);
            border: 7px double var(--accent-salmon-color);
            z-index: 3;
        }
      
        @media screen and (min-width:768px) {
            width: 78px;
            height: 78px;
        }
        @media screen and (min-width:1280px) {
            width: 140px;
            height: 140px;
        }
        &-top{
            @media screen and (min-width:320px){
            margin-top: 3px;
            }
            @media screen and (min-width:1280px) {
                margin-top: 5px;
            }
        }
        &-big{
            @media screen and (max-width:319px){
                width: 75px;
                height: 75px;
            }
            @media screen and (min-width:320px){
                width: 70px;
            height: 70px;
            }
            

            &:hover,
            &:focus{
            
                transform: scale(1.2);
              
            }
         
            @media screen and (min-width:768px) {
                width: 156px;
                height: 156px;
            }
            @media screen and (min-width:1280px) {
                width: 280px;
                height: 280px;
            }
          
        }
      
    }
}
