.header {
    background-color: #ffb8ca;
}

.header-container {

    @media screen and (max-width: 479px) {
        position: relative;
        padding-top: 8px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        position: relative;
        padding-top: 8px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        position: relative;
        padding-top: 32px;
    }

    display: flex;
    align-items: center;
    padding-top: 37px;
}

.site-nav {
    display: flex;
}

.logo {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        position: relative;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: 175px;
}

.header-nav {
    @media screen and (max-width: 479px) {
        display: none;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: none;
    }

    &__item {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        color: var(--focus-white-color);
    }

    &__item:not(:last-child) {
        margin-right: 35px;
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        color: var(--focus-white-color);
        transition: var(--main-transition);
        z-index: 100;
    }

    &__link:hover,
    &__link:focus {
        color: var(--focus-pinc-color);
    }
}

.header-button {

    @media screen and (max-width: 479px) {
        display: none;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-left: 32px;
        position: absolute;
        top: 32px;
        right: 32px;
    }

    display: flex;
    padding-left: 37px;
    align-items: center;

    width: 159px;
    height: 44px;
    margin-left: 174px;
    border-radius: 22px;
    background: var(--focus-white-color);
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--focus-pinc-color);
    cursor: pointer;
    transition: var(--main-transition);

    &:hover,
    &:focus {
        background: #ECEBEB;
    }

    &__icon {
        fill: currentColor;
        margin-left: 12px;
    }
}

.header-menu-btn {

    @media screen and (max-width: 479px) {
        position: absolute;
        margin-left: 61px;
        top: 27px;
        right: 20px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        position: absolute;
        margin-left: 61px;
        top: 27px;
        right: 20px;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-left: 293px;
    }
}




