.header {
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: transparent;
}

.header-container {
  display: flex;
  align-items: center;
  outline: 1px solid red;

  @media screen and (min-width: 320px) {
    padding-top: 8px;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 37px;
    justify-content: space-between;
  }
}

.logo {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: auto;
  }
}

.header-nav {
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.header-nav__link {
  font-weight: 700;
  line-height: 1.31;
  color: var(--focus-white-color);
  text-decoration: none;
  transition: color var(--main-transition);

  &:hover,
  &:focus {
    color: var(--focus-pinc-color);
  }

  @media screen and (max-width: 1279px) {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
  }
}

.header-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }

  @media screen and (max-width: 1279px) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    border-top: 1px solid #e18298;
  }

  &:last-child {
    @media screen and (max-width: 1279px) {
      border-bottom: 1px solid #e18298;
    }
  }
}

.header-button {
  transition: background-color var(--main-transition);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 44px;

    background-color: var(--focus-white-color);
    border-radius: 22px;
    font-weight: 700;
    line-height: 1.31;
    color: var(--focus-pinc-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 32px;
  }

  &:hover,
  &:focus {
    background-color: var(--white-btn-hover);
  }
}

.header-button__icon {
  fill: var(--focus-pinc-color);
  margin-left: 12px;
}

.menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
  padding-left: 0px;
  padding-right: 0px;

  &:hover .menu-open-icon,
  &:focus .menu-open-icon {
    stroke: var(--focus-white-color);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu-open-icon {
  stroke: var(--focus-pinc-color);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-width: 2.285;
  transition: stroke var(--main-transition);
}

// ----------------------MOBILE-MENU-----------------------------

.header-button-mobile {
  display: block;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: var(--focus-white-color);
  border-radius: 22px;
  font-weight: 700;
  line-height: 1.31;
  color: var(--focus-pinc-color);
  transition: background-color var(--main-transition);

  @media screen and (min-width: 1280px) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: var(--white-btn-hover);
  }

  & .header-button__icon {
    margin-left: 16px;
  }
}

.site-nav {
  @media screen and (max-width: 1279px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    max-width: 250px;
    height: 100vh;
    padding: 60px 0px;
    background-color: #e17992;
  }
}

.menu-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: inherit;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    left: 0;
    top: 50%;
    transition: background-color var(--main-transition);
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before,
  &:focus::after,
  &:focus::before {
    background-color: var(--pink-btn-hover);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.is-open {
  @media screen and (max-width: 1279px) {
    opacity: 0;
  }
}

.menu-open-btn.is-opem {
  display: none;
}
