.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 93vw;
  height: 100%;
  max-width: 450px;
  max-height: 600px;
  padding: 50px 15px 30px;
  overflow-y: scroll;
  background-color: var(--focus-white-color);
  border-radius: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-transition);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.3);
  }

  @media screen and (min-width: 1280px) {
    max-height: 640px;
    padding: 50px 20px 30px;
    overflow-y: visible;
  }
}

.modal-header-close-btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  background: inherit;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--accent-salmon-color);
    left: 0;
    top: 50%;
    transition: background-color var(--main-transition);
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before,
  &:focus::after,
  &:focus::before {
    background-color: var(--pink-btn-hover);
  }
}

.modal-title {
  font-family: 'Titan One', sans-serif;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.12;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--pink-btn-hover);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
  }
}

// -------------------MODAL FORM-----------------

.form-field {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 3px;
  padding-left: 10px;
  color: var(--focus-pinc-color);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.form-input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: 1px solid var(--accent-salmon-color);
  border-radius: 10px;
  background-color: rgba(255, 165, 186, 0.1);
  color: var(--pink-btn-hover);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border var(--main-transition);

  &:hover,
  &:focus {
    cursor: pointer;
    border: 1px solid var(--pink-btn-hover);
    outline: none;
  }

  &::placeholder {
    font-size: 12px;
    color: rgb(199, 19, 62, 0.5);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    height: 50px;
  }
}

.form-comment {
  width: 100%;
  height: 100px;
  border: 1px solid var(--accent-salmon-color);
  border-radius: 10px;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: -4px;
  resize: none;
  color: var(--pink-btn-hover);
  background-color: rgba(255, 165, 186, 0.1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border var(--main-transition);

  &::placeholder {
    font-size: 12px;
    color: rgb(199, 19, 62, 0.5);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border: 0.5px solid var(--pink-btn-hover);
    outline: none;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.form-btn {
  display: block;
  padding: 10px 40px;
  margin: 0 auto;
  font-weight: 700;
  color: var(--focus-white-color);
  background-color: var(--focus-pinc-color);
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 20px;
  transition: background-color var(--main-transition),
    box-shadow var(--main-transition);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.28;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 2px rgb(199, 19, 62, 0.1),
      0px 2px 2px rgb(199, 19, 62, 0.3);
    background-color: var(--pink-btn-hover);
    color: var(--focus-white-color);
  }
}

// -----------------CHECKBOX--------------------------
.checkbox {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 14px;
  border: 1px solid var(--accent-salmon-color);
  box-shadow: 0px 1px 4px rgb(199, 19, 62, 0.2);
  border-radius: 4px;
  margin-right: 8px;
  transition: background-color var(--main-transition),
    border var(--main-transition), box-shadow var(--main-transition);

  @media screen and (min-width: 480px) {
    width: 16px;
    height: 15px;
  }
}

.checkbox-icon {
  fill: transparent;
  transition: fill var(--main-transition);
}

.checkbox-input {
  &:focus + .checkbox-label .checkbox-box,
  &:hover + .checkbox-label .checkbox-box {
    border: 1px solid var(--pink-btn-hover);
    cursor: pointer;
  }

  &:checked + .checkbox-label .checkbox-box {
    background-color: var(--focus-pinc-color);
    border: 1px solid var(--focus-pinc-color);
    box-shadow: none;
  }

  &:checked + .checkbox-label .checkbox-icon {
    fill: var(--focus-white-color);
  }
}

.checkbox-text {
  color: var(--pink-btn-hover);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}
