.header {
    // background-color: #ffb8ca;
    // position: relative;

    background-color: transparent;
    position: absolute;
    z-index: 200;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;

}

.site-nav {
    display: flex;

}

.logo {
    @media screen and (max-width: 479px) {
        position: absolute;
        margin-top: 8px;
        
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        position: absolute;
        margin-top: 8px;
               
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: 32px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 37px;
        
    }

    

    
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: 175px;
    padding-top: 37px;
}

.header-nav {
    @media screen and (max-width: 479px) {
        display: none;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: none;
    }

    &__item:not(:last-child) {
        margin-right: 35px;
    }

    &__link {
        position: relative;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        color: var(--focus-white-color);
        transition: var(--main-transition);
        z-index: 100;
        padding: 15px 0;
    }

    &__link:hover,
    &__link:focus {
        color: var(--focus-pinc-color);
    }
}

.header-button {

    @media screen and (max-width: 479px) {
        display: none;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: 32px;
    }


    display: flex;

    
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 15px;
    margin-top: 40px;
    margin-left: auto;

    width: 159px;
    height: 44px;
    border-radius: 22px;
    background: var(--focus-white-color);
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--focus-pinc-color);
    cursor: pointer;
    transition: var(--main-transition);

    &:hover,
    &:focus {
        background: #ECEBEB;
    }

    &__icon {
        fill: currentColor;
        margin-left: 12px;
    }
}

.header-menu-btn {

    @media screen and (max-width: 479px) {
        position: absolute;
        top: 27px;
        right: 20px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        position: absolute;
        top: 27px;
        right: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        position: absolute;
        top: 0;
        margin-top: 46px;
        right: 224px;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}




