.hero {
  background-color: #ffb8ca;
}

.hero .container {
  position: relative;
  padding-top: 194px;
  padding-bottom: 158px;
  overflow: hidden;
  outline: 1px solid red;

  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 190px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 147px;
    padding-bottom: 316px;
  }
}

.hero-content {
  position: relative;
  z-index: 3;
}

.hero-title {
  max-width: 218px;
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--focus-white-color);

  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    max-width: 277px;
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 24px;
  }
}

.hero-title_accent {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0;
  color: var(--focus-pinc-color);

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero-btn {
  display: inline-block;
  padding: 7px 14px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  border-radius: 20px;

  text-decoration: none;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
    padding: 11px 23px;
  }
}

.hero-btn_first {
  margin-right: 8px;
  color: var(--focus-white-color);
  background-color: var(--focus-pinc-color);
  transition: background-color var(--main-transition);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 12px;
  }
}

.hero-btn_second {
  color: var(--focus-pinc-color);
  background-color: var(--focus-white-color);
  transition: background-color var(--main-transition);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.hero-content-bottom {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 287px;
    left: 184px;
    z-index: 3;
  }

  @media screen and (min-width: 1280px) {
    top: 456px;
    left: 229px;
  }
}

.hero-text {
  font-family: 'DM Sans';
  max-width: 114px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--focus-white-color);

  @media screen and (min-width: 1280px) {
    max-width: 200px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.hero-info-btn {
  width: 18px;
  height: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--focus-white-color);
  border-radius: 50%;
  border: 0.5px solid var(--focus-white-color);

  transition: border var(--main-transition),
    background-color var(--main-transition);

  &:hover,
  &:focus {
    // border: 0.5px solid var(--focus-pinc-color);
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.hero-icon {
  fill: var(--focus-pinc-color);
}

.hero-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 92px;
    right: 40px;
  }

  @media screen and (min-width: 1280px) {
    top: 157px;
    right: 34px;
  }
}

.hero-item:not(:last-child) {
  margin-bottom: 16px;
}

.hero-item-number {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: right;
  color: var(--focus-pinc-color);
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
    margin-bottom: 2px;
  }
}

.hero-item-text {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--focus-white-color);

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-item-number::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--focus-white-color);
  position: absolute;
  top: -1px;
  right: -8px;
  z-index: -1;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    top: -4px;
    right: -18px;
  }
}

.hero-image {
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    left: 322px;
  }

  @media screen and (min-width: 1280px) {
    left: 636px;
  }
}

.hero-bg-ellipse {
  position: absolute;
  bottom: 75px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--accent-salmon-color);
  z-index: 1;

  @media screen and (min-width: 768px) {
    bottom: 40px;
    left: 248px;
    width: 335px;
    height: 333px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 76px;
    left: 517px;
    width: 534px;
    height: 534px;
  }
}

.hero-image_milk {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 16px;
    left: 30px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 60px;
    left: 15px;
  }
}

.hero-image_tasty {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0px;
    right: 32px;
    z-index: 1;
  }

  @media screen and (min-width: 1280px) {
    bottom: 0px;
    right: 15px;
  }
}
