.hero {
  background-color: #ffb8ca;
}

.hero .container {
  position: relative;
  outline: 1px solid red;
  padding-top: 194px;
  padding-bottom: 158px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 190px;
  }
}

.hero-content {
  position: relative;
  z-index: 3;

  @media screen and (min-width: 768px) {
    padding-left: 15px;
  }
}

.hero-title {
  max-width: 218px;
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--focus-white-color);

  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
}

.hero-title_accent {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0;
  color: var(--focus-pinc-color);

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
    letter-spacing: 0.04em;
  }
}

.hero-btn {
  display: inline-block;
  padding: 7px 14px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  border-radius: 20px;

  text-decoration: none;
}

.hero-btn_first {
  margin-right: 8px;
  color: var(--focus-white-color);
  background-color: var(--focus-pinc-color);
  transition: background-color var(--main-transition);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero-btn_second {
  color: var(--focus-pinc-color);
  background-color: var(--focus-white-color);
  transition: background-color var(--main-transition);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.hero-content-bottom {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 287px;
    left: 184px;
    z-index: 3;
  }
}

.hero-text {
  font-family: 'DM Sans';

  margin-bottom: 7px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--focus-white-color);
  max-width: 114px;
}

.hero-info-btn {
  width: 18px;
  height: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--focus-white-color);
  border-radius: 50%;
  border: 0.5px solid var(--focus-white-color);

  transition: border var(--main-transition),
    background-color var(--main-transition);

  &:hover,
  &:focus {
    // border: 0.5px solid var(--focus-pinc-color);
    background-color: #ecebeb;
  }
}

.hero-icon {
  fill: var(--focus-pinc-color);
}

.hero-image {
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    left: 322px;
  }
}

.hero-bg-ellipse {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--accent-salmon-color);
  z-index: 1;

  @media screen and (min-width: 768px) {
    top: 43px;
    left: 248px;
  }
}

.hero-image_milk {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 16px;
    left: 32px;
  }
}

.hero-image_tasty {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0px;
    right: 32px;
  }
}
