.about {
    background-color: #FFF5F6;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 767px) {
        background-image: url(../images/how-its-made/cow-fon-mobail-320.png);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/how-its-made/cow-fon-mobail-640.png);
            }
            background-position: 0 574px;
        }
    @media screen and (min-width: 1280px) {
        background-image: url(../images/how-its-made/cow-fon-desctop-1280.png);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/how-its-made/cow-fon-desctop-2560.png);
            }
            background-position: 0 255px;
    }
}

.about-container {
    padding: 40px 15px 40px 15px;
}

.about-title-label {
    font-family: 'Titan One';
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    color: var(--accent-salmon-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.14;
    }
}

.about-title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--focus-pinc-color);
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.137;
        margin-bottom: 60px;
    }
}

.about-wrap {
    @media screen and (min-width: 768px) {
        display:flex;
    }
}
.about-img {
    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
     }
    @media screen and (min-width: 768px) {
        margin-right: 32px;
        width: 336px;
        height: 335px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 139px;
        width: 501px;
        height: 501px;
    }
}

.about-text {
    width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: var(--text-black-color);
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        width: 334px;
        font-size: 14px;
        line-height: 176%;
        @media screen and (min-width: 1280px) {
            width: 463px;
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 176%;
            margin-top: 90px;
        }
    }
    &__secondary {
        color: var(--text-gray-color);
        margin-bottom: 20px;
        letter-spacing: 0.04em;
        @media screen and (min-width: 768px) {
            width: 334px;
            font-size: 14px;
            line-height: 176%;
            margin-bottom: 40px;
                @media screen and (min-width: 1280px) {
                    width: 463px;
                    font-size: 14px;
                    line-height: 194%;
                    }
        }
    }
}

.btn-wrap {
    position: relative;
}

.about-btn {
    width: 176px;
    height: 44px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: var(--focus-pinc-color);
    background-color: var(--focus-white-color);
    border: none;
    border-radius: 22px;
    &:hover, &:focus{
        color: var(--focus-white-color);
        background-color: var(--focus-pinc-color);
    }
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.31;
    }
}

.icon-arrow {
    margin-left: 8px;
    display: inline-block;
    fill: currentColor;
}