.about {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFF5F6;
    background-repeat: no-repeat;
    background-size: 100vw;

    @media screen and (max-width: 767px) {
        background-image: url(../images/how-its-made/cow-fon-mobail-320.png);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/how-its-made/cow-fon-mobail-640.png);
            }
            background-position: 0 574px;
        }
    @media screen and (min-width: 950px) {
        background-image: url(../images/how-its-made/cow-fon-desctop-1280.png);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/how-its-made/cow-fon-desctop-2560.png);
            }
            background-position: 0 255px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.about-label {
    font-family: 'Titan One';
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    color: var(--accent-salmon-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.14;
    }
}

.about-title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--focus-pinc-color);
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.137;
        margin-bottom: 60px;
    }
}

.about-wrap {
    @media screen and (min-width: 768px) {
        display:flex;
    }
}
.about-img {
    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
     }
    @media screen and (min-width: 768px) {
        margin-right: 32px;
        width: 336px;
        height: 335px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 139px;
        width: 501px;
        height: 501px;
    }
}

.about-text {
    font-size: 12px;
    line-height: 1.62;
    color: var(--text-black-color);
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        width: 334px;
        font-size: 14px;
        line-height: 1.76;
        @media screen and (min-width: 1280px) {
            width: 463px;
            margin-bottom: 32px;
            font-size: 16px;
            margin-top: 90px;
        }
    }
    &__secondary {
        font-size: 12px;
        color: var(--text-gray-color);
        letter-spacing: 0.04em;
        @media screen and (min-width: 768px) {
            width: 334px;
            font-size: 14px;
            line-height: 1.76;
                @media screen and (min-width: 1280px) {
                    width: 463px;
                    line-height: 1.94;
                    }
        }
    }
    &__end {
        margin-top: 32px;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        }
    }
}

.about-btn {
    display: none;
    @media screen and (min-width: 300px) {
    display: block;
    width: 176px;
    height: 44px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: var(--focus-pinc-color);
    background-color: var(--focus-white-color);
    border: none;
    border-radius: 22px;
    transition: 
    color var( --main-transition), 
    background-color var( --main-transition);
        &:hover, &:focus{
            background-color: var(--white-btn-hover);
        }
        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 1.31;
        }
    }   
}

.icon-arrow {
    margin-left: 8px;
    display: inline-block;
    fill: currentColor;
}

.backdrop.js-cow-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--main-transition), visibility var(--main-transition);
}

.about-modal {
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #e17992;
    border-radius: 30px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform var( --main-transition);
    padding: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 95%;
    background-image: url(../images/how-its-made/cow-fon-mobail-320.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/how-its-made/cow-fon-mobail-640.png);
    }
   
    .backdrop.is-hidden & {
        transform: scale(0.5) rotate(40deg);
    }
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
    }
    @media screen and (min-width: 1280px) {
    height: 581px;
    width: 528px;
    }
    &__title {
        letter-spacing: .04em;
        text-transform: uppercase;
        color: var(--focus-white-color);
        margin-bottom: 30px;
        font-family: Titan One;
        font-size: 30px;
        line-height: 1.15;
        text-align: center;
    }
    &__text {
        color: var(--text-black-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.76;
        margin-bottom: 30px;
    }
    &__btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        padding: 10px;
        
    }
    &__icon {
        transition:transform var( --main-transition);
        &:hover {
            fill: var(--focus-pinc-color);
        }
    }
}

.modal-list {
    list-style: disc;
    & .modal-list__title {
        letter-spacing: .04em;
        text-transform: uppercase;
        color: var(--focus-pinc-color);
        margin-bottom: 20px;
        font-family: Titan One;
        font-size: 20px;
        line-height: 1.15;
        list-style: none;
    }
    &__item {
        margin-left: 50px;
    }
    &__text {
        color: var(--text-black-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.76;
        width: 70%;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}