.products {
  display: flex;
  justify-content: center;
  align-items: center;

@media screen and (min-width: 320px), (max-width: 320px) {
padding-top: 80px;
padding-bottom: 40px;     
}

@media screen and (min-width: 768px) {
padding-top: 40px;
padding-bottom: 60px;   
}

@media screen and (min-width: 1280px) {
  padding-top: 60px;
  padding-bottom: 60px;

}
}


.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  
}


.products-title-label {
position: absolute;
z-index: 1;
left: 50%;
transform: translateX(-50%);
top: 0;
font-family: 'Titan One';
text-align: center;
text-transform: uppercase;
color: var(--accent-salmon-color);

@media screen and (min-width: 320px), (max-width: 320px) {
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.04em;  

}

@media screen and (min-width: 768px) {
font-size: 26px;
line-height: 1.15;
letter-spacing: 0.04em;  
}
@media screen and (min-width: 1280px) {
font-size: 30px;
line-height: 1.13;
letter-spacing: 0.04em;  
}
}

.products__title {
font-family: 'Titan One';
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--focus-pinc-color);
@media screen and (min-width: 320px), (max-width: 320px) {
font-size: 34px;
line-height: 1.14;
padding-top: 15px;
}

@media screen and (min-width: 768px) {
font-size: 48px;
line-height: 1.14;
padding-top: 18px;
}

@media screen and (min-width: 1280px) {
font-size: 58px;
line-height: 1.13;
padding-top: 16px;
}
}    


.products__list {
    display: flex;
	flex-direction: column;
	align-content: center;
  @media screen and (min-width: 320px) {

}

@media screen and (min-width: 768px) {

flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
}

@media screen and (min-width: 1280px) {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
margin-right: -32px;

}

}


.products__item {

border-radius: 24px;

@media screen and (min-width: 320px), (max-width: 320px) {
width: 280px;
height: 489px;
}

@media screen and (min-width: 768px) {
width: 280px;
height: 489px;
flex-basis: calc((100% - 6 * 8px)/3);
	display: flex;
	margin: 8px;
	flex-wrap: wrap;
}
@media screen and (min-width: 1280px) {
width: 395px;
height: 535px;
flex-basis: calc((100% - 6 * 16px)/3);
	display: flex;
	margin: 16px;
	flex-wrap: wrap;
}
}  

.products__item-ice {
background: #FFB8CA;
position: relative;
}

.products__item-ice::before {
    content: url(../images/products/ice-cream/web/ice-cream-desctop-335-min.webp);
    display: block;
    position: absolute;
    top: -50%;
left: 50%;
transform: translateX(-50%);

}

.products__item-coffee {
background: #F0D1A5;
}

.products__item-milkshake {
background: #C2E297;
}

.products-item-title {
    display: inline-flex;
   
    align-items: center;
   
font-family: 'Titan One';
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--focus-white-color);
margin-bottom: 70px;

@media screen and (min-width: 320px), (max-width: 320px) {
font-size: 20px;
line-height: 1.15;

}
@media screen and (min-width: 768px) {
font-size: 20px;
line-height: 1.15;
}

@media screen and (min-width: 1280px) {
font-size: 30px;
line-height: 1.0;
}


}
.products-item-text {
font-family: 'DM Sans';
text-align: center;
letter-spacing: 0.04em;
color: var(--focus-white-color);
font-weight: 700;
@media screen and (min-width: 320px), (max-width: 320px) {
font-size: 14px;
line-height: 1.52;
}

@media screen and (min-width: 768px) {
font-size: 14px;
line-height: 1.76;
}

@media screen and (min-width: 1280px) {
font-size: 16px;
line-height: 1.76;
}

}
