.slider-box {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 650px;
    margin-top: 80px;
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    height: 480px;
    margin-top: 80px;
  }

  @media screen and (min-width: 1250px) {
    height: 475px;
    margin-top: 120px;
  }
}

.slider {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: 52px;
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    top: 20px;
  }

  @media screen and (min-width: 1250px) {
    top: 18px;
  }
}

.customer__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1250px) {
    margin-bottom: 16px;
  }
}

.comment__container {
  background-color: #fafafa;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 74px 50px 17px 50px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    padding: 32px 6px;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1250px) {
    padding: 32px 106px;
    width: 1034px;
    margin-left: auto;
    margin-right: auto;
  }
}

.customer__comment {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-black-color);
  text-align: center;
  background-color: #fafafa;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 2.45;
    padding: 0px 6px;
    background: repeating-linear-gradient(
      #fafafa,
      #fafafa 26px,
      #e1e1e1 29px,
      #e1e1e1 0
    );
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    font-size: 14px;
    line-height: 2.16;
    margin: 0;
    margin-top: 20px;
    padding: 0px 46px;
    background-position: 14px 26px;
    margin-left: auto;
    margin-right: auto;

    background: repeating-linear-gradient(
      #fafafa,
      #fafafa 26px,
      #e1e1e1 29px,
      #e1e1e1 0
    );
  }

  @media screen and (min-width: 1250px) {
    background: repeating-linear-gradient(
      #fafafa,
      #fafafa 26px,
      #e1e1e1 29px,
      #e1e1e1 0
    );
    margin: 0;
    margin-top: 16px;
    padding: 0px 50px;
  }
}

.customer__comment::before {
  position: absolute;
  content: '';
  width: 54px;
  height: 40px;
  background-image: url(../images/slider-birds.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: -10px;
  left: 5px;
  z-index: -1;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: -3px;
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    top: -10px;
    left: 4px;
  }

  @media screen and (min-width: 1250px) {
    top: -10px;
    left: 3px;
  }
}

.decoration__points {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    margin-top: 4px;
  }

  @media screen and (min-width: 1250px) {
    margin-top: 16px;
  }
}

.customer__name {
  display: flex;
  min-width: 0;
  justify-content: center;
  color: var(--text-black-color);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0;
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1249px) {
    margin: 0;
    margin-top: 24px;
  }

  @media screen and (min-width: 1250px) {
    margin-top: 36px;
  }
}

.slick-slider.slick-dotted {
  margin-top: 0;
}

.slider .slick-dots {
  bottom: inherit;
}

.slider .slick-dots li {
  width: 18px;
  height: 18px;
}

.slider .slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 0;
}

.slider .slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 0;
}

.slider .slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: white;
  border-radius: 0;
  background-image: url(../images/slyder/home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

.slider .slick-active button::before {
  display: none;
}

.slider .slick-dots {
  margin-top: 10px;
}

.slider .slick-dots li button::before {
  display: none;
}
