.button {
  font-family: inherit;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--focus-white-color);
  // transition: box-shadow var(--main-transition),
  //   background-color var(--main-transition);
  transition: background-color var(--main-transition);
  // &:hover,
  // &:focus {
  //   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  //     0px 2px 2px rgba(0, 0, 0, 0.12);
  // }
  &__icon {
    display: inline-block;
    margin-left: 8px;
    width: 8px;
    height: 10px;
    fill: currentColor;
  }
  &--red {
    @media screen and (min-width: 768px) {
      width: 192px;
    }
    @media screen and (min-width: 1280px) {
      width: 198px;
    }
    background-color: var(--focus-pinc-color);
    color: var(--focus-white-color);
    &:hover,
    &:focus {
      background-color: var(--pink-btn-hover);
    }
  }
  &--white {
    @media screen and (min-width: 768px) {
      width: 174px;
    }
    @media screen and (min-width: 1280px) {
      width: 180px;
    }
    background-color: var(--focus-white-color);
    color: var(--focus-pinc-color);
    &:hover,
    &:focus {
      background-color: var(--white-btn-hover);
    }
  }
}
.close-button {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  background: inherit;
  border: none;
  cursor: pointer;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 50%;
    transition: background-color var(--main-transition);
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover::after,
  &:hover::before,
  &:focus::after,
  &:focus::before {
    background-color: var(--pink-btn-hover);
  }
}

.contacts {
  position: relative;
  padding-bottom: 48px;
  min-width: 200px;
  background-image: linear-gradient(
    to bottom,
    var(--focus-white-color) 22.4%,
    #fff5f6 22.4%,
    #fff5f6 100%
  );
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    background-image: linear-gradient(
      to bottom,
      var(--focus-white-color) 19.3%,
      #fff5f6 19.3%,
      #fff5f6 100%
    );
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
    background-image: url(../images/contacts/schedule-fon-1920.png-min.png),
      linear-gradient(
        to bottom,
        var(--focus-white-color) 13.5%,
        #fff5f6 13.5%,
        #fff5f6 100%
      );
    background-position: 50% 35%;
    background-size: 1920px 382px;
    background-repeat: no-repeat;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts/schedule-fon-1920.png-min.png),
        linear-gradient(
          to bottom,
          var(--focus-white-color) 13.5%,
          #fff5f6 13.5%,
          #fff5f6 100%
        );
    }
  }
  &__container {
    padding: 0 15px;
    @media screen and (max-width: 320px) {
      min-width: 200px;
    }
  }
  &__body {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 60px;
      position: relative;
      z-index: 2;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 15px;
      justify-content: center;
    }
  }
}
.list-contacts {
  $gap: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
  }
  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - $gap * 2) / 3);
    }
    padding: 40px 32px;
    background: var(--focus-white-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    @media screen and (min-width: 1280px) {
      padding: 40px 40px;
    }
  }
  &__category {
    display: inline-block;
    align-items: center;
    padding: 1px 25px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--focus-white-color);
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      padding: 0 15px;
      font-size: 16px;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
      padding: 0 16px;
    }
    &--beige {
      background-color: #f0d1a5;
    }
    &--green {
      background-color: #c2e297;
    }
  }
  &__location {
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 500;
    font-size: 12px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      padding-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__title {
    margin-bottom: 8px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: var(--text-black-color);
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 8px;
    }
  }
  &__text {
    line-height: 1.5;
    color: var(--text-gray-color);
  }
  &__shedule {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
    @media screen and (min-width: 768px) {
      margin-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__links {
    margin-top: 24px;
    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
  }
}
.shedule {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
      @media screen and (min-width: 768px) {
        margin-bottom: 12px;
      }
    }
  }
  &__days {
    display: block;
    color: var(--text-black-color);
  }
  &__time {
    display: block;
    color: #ffa5ba;
  }
}
.links-contact {
  &__item {
    & a {
      text-decoration: none;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      color: var(--text-gray-color);
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.83;
      }
    }
  }
}
.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 200px;
  height: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-transition);
  overflow-y: scroll;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
.modal-location {
  position: absolute;
  padding: 30px;
  @media screen and (max-width: 320px) {
    padding: 30px 10px 10px 10px;
  }
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #e17992;
  overflow-y: auto;
  border-radius: 30px;
  height: 80%;
  width: 80%;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    flex-direction: row;
    width: 700px;
    display: flex;
    gap: 30px;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    font-family: 'Titan One';
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--focus-white-color);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.36);
  }
  &__address {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
  }
}
.address-location {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--focus-white-color);
  @media screen and (max-width: 320px) {
    line-height: 1.15;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
      @media screen and (min-width: 200px) and (max-width: 320px) {
        margin-bottom: 10px;
      }
    }
  }
}
.modal-franchise {
  position: relative;
  padding: 40px;
  min-width: 200px;
  width: 100%;
  background-color: #e17992;
  overflow-y: auto;
  border-radius: 30px;
  @media screen and (max-width: 319px) {
    padding: 35px 10px 20px 10px;
  }
  @media screen and (min-width: 320px) {
    width: 290px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (min-height: 650px) {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    max-width: 450px;
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
  @media screen and (min-width: 768px) {
    min-width: 550px;
  }
  &__title {
    display: block;
    margin-bottom: 10px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--focus-white-color);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.36);
  }
  // .modal-franchise__base
  &__base {
    margin-bottom: 20px;
  }
  &__full-name,
  &__contacts-info {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 20px;
    }
  }
  &__field {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      width: 225px;
    }
  }
  &__label {
    font-weight: 700;
    font-size: 14px;
    color: var(--focus-white-color);
  }
  &__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(199, 19, 61, 0.5);
    box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.6);
    transition: border-color var(--main-transition),
      box-shadow var(--main-transition);
    color: var(--focus-pinc-color);
    &::placeholder {
      font-weight: 700;
      font-size: 13px;
      color: rgba(212, 20, 68, 0.444);
    }
    &:hover,
    &:focus,
    &:active {
      border-color: var(--pink-btn-hover);
      box-shadow: inset 2px 2px 3px -1px rgba(0, 0, 0, 0.8);
      cursor: pointer;
      outline: none;
    }
  }
  &__text-area {
    resize: none;
    width: 100%;

    height: 80px;
    padding: 10px;
    border: 1px solid rgba(199, 19, 61, 0.5);
    box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.6);

    border-radius: 10px;
    transition: border-color var(--main-transition),
      box-shadow var(--main-transition);
    color: var(--focus-pinc-color);
    &::placeholder {
      font-weight: 700;
      font-size: 13px;
      color: rgba(212, 20, 68, 0.444);
    }
    &:hover,
    &:focus,
    &:active {
      border-color: var(--pink-btn-hover);
      box-shadow: inset 2px 2px 3px -1px rgba(0, 0, 0, 0.8);
      cursor: pointer;
      outline: none;
    }
  }
  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
